<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="io.gitee.PinKcat.TCPChat">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="TCPChat" android:icon="@drawable/icon" android:targetSdkVersion="29"  />
</manifest>	